
.dashboard{
    background: rgb(8,8,9);
    margin: 0;
    display: flex;
    color: white;
    overflow-y: hidden;
}
.item{
    text-align: center;
}

.top-heading{
  color: rgb(70,91,196);
    font-size: large;
}
.logo-container {
    display: flex; 
    align-items: center;
    margin-top: 10px; 
  }
  h2{
    margin-bottom: 10px;
    font-size: larger;
  }
.logo{
    width: 90px;
    height: 90px;
    margin-right: 0px;
}
button{
    margin-left: 70px;
    margin-top: 90px;
}
.top-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
    border-bottom: 2px solid #444;
  }
 
 
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 90px;
  }

  
  
  h3{
    margin: 0;
    padding-left: 0px;
    text-decoration: underline;
  }

  .account {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    border: 2px solid white;
    margin-left: 380px;
    padding: 10px;
  }
  
  h4 {
    margin: 0;
    padding-left: 10px;
  }
 
  .trending {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
    margin-top: 10px;
    position: relative;
  }
  .trending-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px); 
    margin-left: 10px; 
  }

  .trending-info{
    width: 50%;
    margin-left: 10px;
    z-index: 1;
  }
  
  .trending-info h4,
.trending-info h5,
.trending-info p,
.trending-info button {
  margin: 0;
}
.trending-info h5,
.trending-info p{
  text-align: center;
}

.trending-info h5{
  margin-top: 10px;
  font-size:60px;
  font-weight: bold;
  text-align: center;
  margin-left: -90px;
}

.trending-info p{
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin-left: -310px;
}

.trending-info button{
  background-color: rgb(91,118,255);
  width: 100px;
  height: 40px;
  border-radius: 15px;
  margin-top: 40px;
  margin-left: 50px;
}

.trending-info button:hover{
  cursor: pointer;
  border: 2px solid rgb(91,118,255);
  background-color: white;
  color: rgb(91,118,255);
  font-weight: bold;
}
.trending-content img {
  max-height: calc(170% - 60px); 
  position: absolute; 
  right: 10px; 
  bottom: 0;
  top: 10px;
}

.top-artist{
  width: 50%;
  height: 155px;
  margin-left: 20px;
  background-color:rgb(32,32,38);
  margin-top: -60px;
  border-radius: 5px;
  position: absolute;
  justify-content:left;
  display:flex;
  justify-content: space-between;
  

}

.top-artist .see-all,.top-charts .see-all{
  position: absolute;
  top: -80px;
  right: 20px;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
}

.see-all:hover{
  color: red;
}

.top-artist h4,
.top-charts h4,
.music-player h4{
  padding-top: 10px;
  padding-left: 15px;
  font-weight: bold;
}
.top-artist h4{
  height: 30px;
}
.square {
  float: left;
  height: 100%;
  margin-top: 30px;
  align-items: center;
  position: relative;
  transform: translateX(-100%);
  justify-content: space-between;
}

.artist-image {
  width: 80px; 
  height: 80px; 
  border-radius: 10%; 
  margin-bottom: 10px;
  margin-top: 10px;
}

.artist-info h5 {
  font-size: small;
  font-weight: bold;
  text-align: center;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0; 
}

.top-charts{
  width: 50%;
  height: auto;
  margin-left: 20px;
  background-color:rgb(32,32,38);
  margin-top: 110px;
  border-radius: 5px;
  position: absolute;
}
.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
}
.chart-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.chart-info {
  display: flex;
  align-items: center;
}

.chart-info p {
  margin: 0;
}
.chart-item p {
  margin: 10px;
}
.chart-image{
  width: 40px; 
  height: 40px; 
  border-radius: 5px; 
  margin-right: 10px;
  margin-left: 30px;
}
.song-details {
  margin-right: 50px;
}

.song-details h6 {
  margin: 0;
  font-weight: bold;
  font-size: small;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0; 
}
.song-details p {
  margin: 0;
  font-size: smaller; 
  color: lightgray;
  
}
.music-player{
  width: 27%;
  height: auto;
  margin-left: auto; 
  margin-right: 20px; 
  background-color: rgb(32, 32, 38);
  margin-top: -40px; 
  border-radius: 5px;
  position: absolute;
  top: 50%; 
  right: 20px;
  overflow-y: hidden;
}
.musicCover {
  border-radius: 10%;
}
.player-buttons{
  background-color: rgb(70,91,196);
  width: 100%;
  height: 100px;
  border-radius: 10px;
}
.playButton {
  color: white;
  position: relative; 
  top: 0%; 
  left: 3%; 
  transform: translate(-50%, -120%); 
}

.player-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50px;
}
.title{
  text-decoration: none;
  font-weight: bold;
  font-size: large;
}
.subTitle {
  margin-top: 0;
  color: lightgray;
}
.time {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #828282;
  font-size: smaller;
}

.timeline {
  width: 80%;
  background-color: #27ae60;
  margin-left: 40px;
}

input[type="range"] {
  background-color: #27ae60;
}
.music-player .musicCover{
  width: 150px; 
  height: 150px; 
  border-radius: 10%; 
  margin: 10px auto; 
  display: block;
}