.full-screen {
  position: relative;
  height: 100vh; 
  background-image: url('C:\Users\GTS\OneDrive\Desktop\MusicPlayerProject\musicplayer\Music-Player\src\assets\main background image.jpg'); /* Add the background image */
  background-size: cover; 
  background-position: center; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  z-index: 1;
}

.image-container { 
  margin-top: -130px;
  position: relative;
  margin-bottom: -70px;
}

.text-content { 
  text-align: center;
}

.line h2{
  font-size:70px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line .line-note{
  font-style: italic;
  font-family:'Lucida Handwriting', cursive;
}

.text-content img{
  max-height: 90px; 
  margin-right: 10px;
  border-radius: 5px; 
  padding: 5px;
  width: 140px;
  margin-left: 10px;
}
.explore{
  position: relative;
  margin-bottom: 20px;
  margin-top: -50px;
  margin-left: -80px;
}

.center-container{
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}
.center-container .square,
.center-container .square1,
.center-container .square2{
  width: 200px;
  height: 200px;
  background-color: darkblue;
  position: absolute; 
  top: 50px;
}
.center-container .square {
  left: 0;
  transform: translateX(100%);
}

.center-container .square1 {
  left: 50%;
  transform: translateX(-50%);
}

.center-container .square2 {
  right: 0;
  transform: translateX(-100%);
}
.center-container .square h3 ,
.center-container .square1 h3,
.center-container .square2 h3{
  text-align: center;
  margin: 0; 
  padding: 5px; 
  position: absolute;
  color: white;
  text-decoration: none;
}
.center-container .square h3 {
  writing-mode: vertical-rl; 
  top: 50px; 
  right: 0; 
}

.center-container .square1 h3 {
  top: 0; 
  left: 50px; 
  padding: 10px;
}

.center-container .square2 h3 {
  writing-mode: vertical-rl; 
  top: 50px; 
  left: 0; 
}

.center-container .image-square,
.center-container .image-square1,
.center-container .image-square2{
  width: 200px;
  height: 200px;
  position: absolute; 
}
.center-container .image-square {
  top: 30px; 
  left: 180px; 
}

.center-container .image-square1 {
  top: 90px; 
  left: 50%; 
  transform: translateX(-50%);
}

.center-container .image-square2 {
  top: 30px; 
  right: 160px; 
}
.image-square img,
.image-square1 img,
.image-square2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.topnav {
  position: fixed; 
  top: 0;
  width: 100%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.logo-container img {
  max-height: 100px; 
  padding: 20px 10px;
  display: inline-block;

}
.logo-container h1{
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.buttons-container{
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  
}
.buttons-container button {
  margin-left: 10px;
  margin-top: 30px;
}
.ill-guitar{
  position: absolute;
  right: 0;
  width: 400px;
  height: 400px;
  top: 50%;
  margin-right: -40px;
  z-index: -1;
}
.ill-drum{
  position: absolute;
  left: 0;
  width: 400px;
  height: 400px;
  top: 50%;
  margin-left: -30px;
  z-index: -1;
}

@media (max-width: 500px) {
  .full-screen{
    height: 180vh;
  }
  .image-container { 
    margin-top: -790px;
    position: relative;
    z-index: -1;
  }
  .line h2{
    margin-top: 30px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
  }

  .topnav {
    flex-direction: row;
    padding: 10px 0;
  }

  .logo-container h1 {
    font-size: 25px;
  }

  .buttons-container {
    flex-direction: row;
    margin-top: 10px;
  }

  .buttons-container button {
    margin-left: 0;
    margin-top: 10px;
  }
  .explore{
    position: relative;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-left: -50px;
  }

  .center-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
  }

  .center-container .square,
  .center-container .square1,
  .center-container .square2 {
    width: 250px;
    height: 250px;
  }
  .center-container .square {
    left: 20%;
    transform: translateY(30%);
  }
  
  .center-container .square1 {
    left: 15%;
    transform: translateY(160%);
  }
  
  .center-container .square2 {
    right: 25%;
    transform: translateY(300%);
  }

  .center-container .image-square,
  .center-container .image-square1,
  .center-container .image-square2 {
    width: 250px;
    height: 250px;
  }
  .center-container .image-square {
    top: 150%; 
    left: 15%; 
  }
  
  .center-container .image-square1 {
    top: 90px; 
    left: 20%; 
    transform: translateY(160%);
  }
  
  .center-container .image-square2 {
    top: 820%; 
    right: 60px; 
  }
  .ill-guitar, .ill-drum {
    display: none;
    
  }
}