
.container {
  position: absolute;
  top: 50%; 
  left: 40%; 
  z-index: 5; 
  height: 100%;
  width: 100%;
}
.close-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.close-icon img {
  width: 30px; 
  height: 30px;
}
  .signup-container {
    position: relative;
    top: -370px;
    left: -600px;
    display: flex;
    align-items: center;
    height: 100%; 
    width: 50%; 
    background-image: url('C:\Users\MSI\OneDrive\Desktop\Music Player\music\Music-Player\public\assets\The Smith cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .login-container{
    position: relative;
    top: -370px;
    right: -200px;
    display: flex;
    align-items: center;
    height: 100%; 
    width: 60%; 
    background-image: url('C:\Users\MSI\OneDrive\Desktop\Music Player\music\Music-Player\public\assets\Cover 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
  }
  .music-toggle {
    position: absolute;
    top: 10px; 
    right: 60px; 
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 11;
  }
  
  .circle {
    position: absolute;
    left: 0px; 
    top: 0%;
    width: 700px; 
    height: 700px; 
    background: 
    linear-gradient(90deg, rgba(0, 0, 0, 1) 21%, rgba(133, 133, 139, 0.9601891782103467) 61%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    animation: rotateCircle 10s linear infinite;
    z-index: -1;
  }
  .login-circle{
    position: absolute;
    right: 30%; 
    top: 0%;
    width: 700px; 
    height: 700px;
    background: /* Gradient from left to right */
    linear-gradient(90deg, rgba(0, 0, 0, 1) 21%, rgba(133, 133, 139, 0.9601891782103467) 61%, rgba(255, 255, 255, 1) 100%);
    border-radius: 50%;
    animation: rotateCircle 10s linear infinite;
    z-index: -1;
  }
  @keyframes rotateCircle {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .small-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Adjust size of the smaller circle */
    height: 200px; /* Adjust size of the smaller circle */
    background-color: yellow; /* Color of the smaller circle */
    border-radius: 50%;
  }
  .small-small-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px; /* Adjust size of the smaller circle */
    height: 150px; /* Adjust size of the smaller circle */
    background-color: black; /* Color of the smaller circle */
    border-radius: 50%;
  }

  .signup-form-container,.login-form-container {
    position: relative; /* Change to relative */
    width: 400px; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto; /* Center horizontally */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .signup-form-container{
    height: 70%;
    background-color: rgba(49, 44, 44, 0.7);
  }

  .signup-form-container .vibz,.login-form-container .vibz{
    font-family: Arial, sans-serif; /* Default font family */
    display: inline-block;
    animation: vibrate 0.5s infinite alternate;
    font-style: italic;
    color: #0a95ff;
  }
  @keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* Adjust the distance of the vibration */
    }
    100% {
      transform: translateX(0);
    }
  }

  .signup-form-container .vibz span ,.login-form-container .vibz span{
    font-family: 'Roboto', sans-serif; /* Custom font family */
  }

  .signup-form-container .quote, .login-form-container .quote{
    text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif; /* Change the font family */
  font-size: large;
  background: linear-gradient(to top, #e6d0fa 0%, #9b59b6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
  }

  .signup-form-container h1 ,.login-form-container h1{
    margin-bottom: 20px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }
  
  .signup-form-container p , .login-form-container p{
    margin-bottom: 10px;
    color: white;
  }
  
  .signup-form-container input,
  .signup-form-container button,
  .login-form-container input,
  .login-form-container button {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .signup-form-container button{
    align-items: center;
    margin-top: 10px;
  }
  .signup-form-container input ,.login-form-container input{
    width: calc(100% - 10px);
    justify-content: space-evenly;
  }
  
  .signup-form-container .signup-button {
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
    margin-left: 130px;
  }
  
  .signup-form-container .signup-button:hover {
    background-color: black;
    color: white;
  }
  .signup-form-container .bottom{
    text-align: center;
  }
  .signup-form-container .login-button {
    border: none;
    text-decoration: none;
  }
  
  .signup-form-container .login-button:hover {
    color: red;
    text-decoration: underline;
  }
  .log-button{
    background-color: yellow;
    color: black;
    border: 10px solid #9b59b6;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 20px;
  }
  .log-button:hover{
    background-color: black;
    color: white;
  }
 
  