
main{
  height: 100vh;
}
main h1{
    margin:40px;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    overflow-y: hidden;
}
.drop-down-align{
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-right: 40px;
}
.drop-down-align select{
  background-color: rgb(24,24,29);
  width: 70px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  
}
.drop-down-align option{
  cursor: pointer;
}
.art-option{
  display: flex;
  margin-right: 10px;
}
.gen-drop-down{
  margin-right: 20px;
}
.gen-drop-down  select{
  width: 90px;
}
.scrollable-content {
  overflow-y: auto;
  height: calc(100vh - 150px); 
  padding-right: 30px;
}
.artist-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  height: auto; 
  overflow: hidden;
}
.top-artist-sec,.around-you-sec{
    width: 200px;
    height: 230px;
    background-color: rgb(32,32,38);
    margin-left: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
    position: relative;
}
.play-icon{
  width: 50px;
  height: 50px;
  position: absolute;
  visibility: hidden;
}
.linktolyrics{
  width: 100%;
  position: relative;
  font-size: medium;
  color: rgb(70,91,196);
}

.artist-cover{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}


.artist-cover img {
    max-width: 100%; 
    max-height: 100%;
}
.top-artist-cover{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100px;
}
.top-artist-cover img{
  max-width: 100%; 
    max-height: 100%;
    border-radius: 100px;
}
.artist-name{
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin: 0;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.artist-song{
  font-size: small;
  margin: 10px;
  text-align: center;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.artist-name-det{
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.artist-song-det{
  font-size: x-large;
  margin: 10px;
  text-align: center;

}
.back-title{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.heading-track-det{
  color: #9c27b0; 
  background-image: -webkit-linear-gradient(0deg, #9c27b0 30%, #bd6693 85%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-style: oblique;
}
.arrow-icon{
  cursor: pointer;
  color: rgb(70,91,196);
}
.around-you-sec:hover{
  width: 200px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.around-you-sec:hover .play-icon {
  visibility: visible;
}

.play-icon:hover{
  cursor: pointer;
}
.linktolyrics:hover{
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.bottom-links-sec{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.fav-icon-hov:hover{
  cursor: pointer;
  color: red;
}

.bottom-player{
    position: fixed;
    bottom: 0;
    left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(248, 242, 242, 0.39);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}
.circular-image-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
  }
  
  .circular-image {
    width: 100%;
    height: auto;
    animation: rotate 2s linear infinite; 
  }
  .player-details {
    max-width: 150px; /* Adjust this value as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .player-details h2, .player-details h3 {
    font-size: 16px; /* Adjust the font size as needed */
    margin: 0;
    padding: 0;
  }
  .marquee {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .buttons-timeline{
    width: 500px;
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 50px;
    flex-grow: 2;
  }
  .bottom-player-buttons {
     margin: 0;
     height: 0px;
     justify-content: space-between;
     margin-top: 0px;
     margin-right: 130px;
     z-index: 100;
  }
  .center-scroller{
    display: flex;
    flex: 1;
    margin-right: 40px;
    margin-top: 60px;
  }
  
  .player-time{
    
  width: 190%;
  display: flex;
  flex: 1;
  color: white;
  font-size: smaller;
  
  padding: 0 20px;
  }
  .player-timeline {
    flex-grow: 1;
    margin: 0 20px;
   
  }
  
  input[type="range"] {
    color: black;
    background-color: #27ae60;
  }
  .volume-timeline{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }

  .track-details-sec{
    width: 500px;
    height: 150px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  .track-details-sec .artist-cover{
    width: 180px;
    height: 180px;
    margin-top: 40px ;
  }

  .track-details{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: center;
  }

  .track-details .artist-song{
    font-size: xx-large;
    font-weight: bold;
    top: 0;
    margin: 10px;
  }
  .track-details .artist-name{
    font-weight: normal;
    font-size: large;
    
  }
  .track-details .artist-genre{
    font-weight: normal;
    font-size: large;
  }
  .Lyrics-head{
    margin-top: 60px;
    color: #9c27b0; 
  background-image: -webkit-linear-gradient(0deg, #9c27b0 30%, #bd6693 85%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-style: oblique;
  }
  .track-lyrics{
  text-align: center;
  margin-left: 40px;
  padding: 10px;
  border: 1px solid white;
  }
  @media only screen and (max-width: 480px) {
    .artist-container {
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-between; 
      width: 90%; 
      margin-left: 1%; 
    }
  
    .top-artist-sec {
      width: 40%; 
      margin: 10px auto; 
    }
    .top-artist-cover {
      width: 100px; 
      height: 100px; 
    }
    .drop-down-align {
      display: flex;
      align-items: center; 
      margin-right: 80px; 
    }
    .around-you-sec {
      width: 40%; 
      margin: 10px auto; 
    }
    
    .art-option {
      margin-top: 20px; 
    }
    
    .back-title {
      margin-left: 0; 
    }
    
    .heading-track-det {
      margin-left: 10px; 
      font-size: large; 
    }
    
    .gen-drop-down select {
      width: auto; 
      margin-top: 0; 
      margin-left: -20px; 
    }
    .track-details-sec {
      width: 90%; 
      margin: 10px auto; 
    }
  
    .track-details-sec .artist-cover {
      width: 100px; 
      height: 100px; 
      margin-top: 20px; 
    }
  
    .track-details {
      margin-left: 0; 
      text-align: center; 
    }
    .track-details .artist-song {
      font-size: medium; 
      margin: 10px; 
    }
  
    .track-details .artist-name {
      font-size: small; 
    }
  
    .track-details .artist-genre {
      font-size: x-small; 
    }
  
    .Lyrics-head {
      margin-top: 20px; 
    }
  
    .track-lyrics {
      margin-right:70px;
      padding: 0px; 
      font-size: medium; 
    }
    .bottom-player{
      position: fixed;
      bottom: 0;
      left: 0;
    width: 200%;
    height: 15%;
    background-color: rgba(248, 242, 242, 0.39);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
  }
    .player-details {
      width:20%;
      margin-left: -30px; 
    }
  
    .player-details h2,
    .player-details h3 {
      text-align: left;
    }
    .bottom-player-buttons {
      width:50%;
      margin-left: -90px;
      margin-top: -10px; 
    }
    
    .player-timeline {
      width: 50%;
      margin-left: -100px;
      margin-top: 10px; 
    }
    
    .player-time {
    display: none;
    }
    .volume-timeline{
      display: none;
    }
    .circular-image-container {
      display: none;
    }
    
    .circular-image {
      display: none; 
    }
  }