
main{
  height: 100vh;
}
main h1{
    margin:40px;
    font-size: x-large;
    text-decoration: underline;
    font-weight: bold;
    overflow-y: hidden;
}
.drop-down-align{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-right: 40px;
}
.drop-down-align select{
  background-color: rgb(24,24,29);
  width: 70px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
.drop-down-align option{
  cursor: pointer;
}
.scrollable-content {
  overflow-y: auto;
  height: calc(100vh - 150px); /* Adjust height accordingly */
  padding-right: 30px;
}
.artist-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* Compensate for padding */
  height: auto; /*auto*/
  overflow: hidden;
}
.top-artist-sec,.around-you-sec{
    width: 200px;
    height: 230px;
    background-color: rgb(32,32,38);
    margin-left: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
    position: relative;
}
.play-icon{
  width: 50px;
  height: 50px;
  position: absolute;
  visibility: hidden;
}
.artist-cover{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.artist-cover img {
    max-width: 100%; 
    max-height: 100%;
}
.artist-name{
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.artist-song{
  font-size: small;
  margin: 10px;
  text-align: center;
}
.top-artist-sec:hover::after {
    content: 'More Details';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

.top-artist-sec:hover::after button {
    color: white;
    background-color: rgb(70,91,196);
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 88;
}
.around-you-sec:hover{
  width: 200px;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.around-you-sec:hover .play-icon {
  visibility: visible;
}

.bottom-player{
    position: fixed;
    bottom: 0;
    left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(248, 242, 242, 0.39);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99;
}
.circular-image-container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
  }
  
  .circular-image {
    width: 100%;
    height: auto;
    animation: rotate 2s linear infinite; 
  }
  .player-details{
    flex: 1;
    display: flex;
  flex-direction: column;
  margin-left: 0px;
  }
  .player-details h2{
    font-size: large;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .player-details h3{
    text-overflow: ellipsis;
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    margin: 0;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .buttons-timeline{
    width: 500px;
    height: 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 50px;
    flex-grow: 2;
  }
  .bottom-player-buttons {
     margin: 0;
     height: 0px;
     justify-content: space-between;
     margin-top: 70px;
     margin-right: 40px;
  }
  .center-scroller{
    display: flex;
    flex: 1;
    margin-left: 20px;
  }
  
  .player-time{
    
  width: 190%;
  display: flex;
  flex: 1;
  color: white;
  font-size: smaller;
  
  padding: 0 20px;
  }
  .player-timeline {
    flex-grow: 1;
    margin: 0 20px;
   
  }
  
  input[type="range"] {
    color: black;
    background-color: #27ae60;
  }
  .volume-timeline{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
  }