.recommendation-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-container {
    display: flex;
    align-items: center;  
    justify-content: center;
    margin-left: auto;
   
  }
  
  
  .search-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 300px;
    color: #070606;
  }
  
  .search-button {
    font-size: 16px;
    padding : 10px;
    margin-top: auto;
    background-color: #501e79;
    color: white;
    border: none;
    border-radius: 4px;
    cursor:auto;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
  