
.topnav {
    position: fixed; /* Fixed positioning to keep it on top */
    top: 0;
    width: 100%; /* Semi-transparent white background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }
  
  .logo-container img {
    max-height: 120px; /* Set the maximum height of the logo */
    padding: 20px 20px;
    display: inline-block;
  
  }
  .logo-container h1{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: white;
  }
  
  