.full-screen {
  position: relative;
  height: 100vh; /* Make the container full screen */
  background-image: url('C:\Users\ABC\Desktop\React\music-player\src\assets\main background image.jpg'); /* Add the background image */
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.full-screen::after {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position the pseudo-element absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.133); /* Blue color with opacity */
}

.image-container { /* Center align the content */ 
  margin-bottom: 140px;/* Adjust margin as needed */
}

.text-content { /* Semi-transparent white background */
  text-align: center;
  margin-top: -90px;
}
.line{
  font-size: 50px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.text-content img{
  max-height: 90px; /* Set the maximum height of the logo */
  margin-right: 10px;
  /*background-color: rgba(6, 5, 5, 0.505); /* Add black background color */
  border-radius: 5px; /* Add border radius */
  padding: 5px;
  width: 140px;
  margin-left: 10px;
}
.explore{
  padding-top: 30px;
}

.square,
.square1,
.square2{
  width: 200px;
  height: 200px;
  background-color: darkblue;
   /* Adjust background color as needed */
  position: absolute; /* Position the div absolutely */
  left: 270px;
  bottom: 80px;
}
.square1,
.square2 {
  left: 50%; /* Position at the center of the screen */
  transform: translateX(-40%); /* Center horizontally */
}
.square2 {
  right: 50px; /* Position to the right of the screen */
  transform: translateX(180%);
}

.square h3 {
  writing-mode: vertical-rl; /* Set text orientation to vertical */
  text-align: center; /* Center align the text */
  top: 50px; /* Align with the top of the square */
  right: 0; /* Align with the right side of the square */
  margin: 0; /* Remove default margin */
  padding: 5px; /* Remove default padding */
  position: absolute;
  color: white;
}

.square1 h3 {
  text-align: center; /* Center align the text */
  top: 0; /* Align with the top of the square */
  left: 50px; /* Align with the left side of the square */
  margin: 0; /* Remove default margin */
  padding: 5px; /* Remove default padding */
  position: absolute;
  color: white;
  padding: 10px;
}

.square2 h3 {
  writing-mode: vertical-rl; /* Set text orientation to vertical */
  text-align: center; /* Center align the text */
  top: 50px; /* Align with the top of the square */
  left: 0; /* Align with the left side of the square */
  margin: 0; /* Remove default margin */
  padding: 5px; /* Remove default padding */
  position: absolute;
  color: white;
}

.image-square,
.image-square1,
.image-square2{
  width: 200px;
  height: 200px;
  position: absolute; /* Position the image square */
  margin-left: 130px;
}
.image-square{
  top: 480px;
}
.image-square1 {
  left: 50%; /* Position at the center of the screen */
  transform: translateX(-105%); /* Center horizontally */
  top: 510px; /* Align with the bottom of square1 */
}

.image-square2 {
  right: 140px; /* Position to the right of the screen */
  top: 40px; /* Align with the bottom of square2 */
  transform: translateY(220%);
}
.image-square img,
.image-square1 img,
.image-square2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}